body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #e0eafc, #cfdef3);
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
